<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Halibut.PollingRequestQueueTimeout" value="00:00:05"/>
    <add key="Halibut.RetryListeningSleepInterval" value="00:00:05"/>
    <add key="Halibut.ConnectionErrorRetryTimeout" value="00:00:05"/>
    <add key="Halibut.TcpClientSendTimeout" value="00:00:05"/>
    <add key="Halibut.TcpClientReceiveTimeout" value="00:00:05"/>
    <add key="Halibut.TcpClientHeartbeatSendTimeout" value="00:00:05"/>
    <add key="Halibut.TcpClientHeartbeatReceiveTimeout" value="00:00:05"/>
    <add key="Halibut.TcpClientConnectTimeout" value="00:00:05"/>
    <add key="Halibut.PollingQueueWaitTimeout" value="00:00:05"/>
  </appSettings>
  <system.diagnostics>
    <sources>
      <source name="Halibut">
        <listeners>
          <add name="console"/>
        </listeners>
      </source>
      <source name="System.Net">
        <listeners>
          <add name="console"/>
        </listeners>
      </source>
      <source name="System.Net.Sockets">
        <listeners>
          <add name="console"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="System.Net" value="Error"/>
      <add name="System.Net.Sockets" value="Error"/>
      <add name="Halibut" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="console" type="System.Diagnostics.ConsoleTraceListener"/>
    </sharedListeners>
    <trace autoflush="true"/>
  </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
