<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Halibut.PollingRequestQueueTimeout" value="00:00:05"/>
    <add key="Halibut.RetryListeningSleepInterval" value="00:00:05"/>
    <add key="Halibut.ConnectionErrorRetryTimeout" value="00:00:05"/>
    <add key="Halibut.TcpClientSendTimeout" value="00:00:05"/>
    <add key="Halibut.TcpClientReceiveTimeout" value="00:00:05"/>
    <add key="Halibut.TcpClientHeartbeatSendTimeout" value="00:00:05"/>
    <add key="Halibut.TcpClientHeartbeatReceiveTimeout" value="00:00:05"/>
    <add key="Halibut.TcpClientConnectTimeout" value="00:00:05"/>
    <add key="Halibut.PollingQueueWaitTimeout" value="00:00:05"/>
  </appSettings>
</configuration>
