name: Renovate update dependencies
on:
  schedule:
    # UTC 10:00 PM (8AM AEST, Monday - Thursday)
    - cron: '0 22 * * 1-5'
  workflow_dispatch:
    inputs:
      dry-run:
        description: 'Dry run'
        required: false
        default: true
        type: boolean

jobs:
  renovate-backend:
    name: Self-hosted Renovate
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v39.0.1
        with:
          configurationFile: renovate-config.js
          token: ${{ secrets.RENOVATE_GITHUB_TOKEN }}
        env:
          LOG_LEVEL: debug
          RENOVATE_DRY_RUN: ${{ inputs.dry-run && 'full' || null }}
